{% extends 'base.html'%}
{% load static %}

{% block content %}

    <h1 class="text-center my-4">Posts</h1>

    <div class="container">
        <div class="row">
            {% for post in page_obj %}
            <div class="col-md-8 mb-4">
                <div class="card">
                    {% if post.header_img %}
                    <img src="{{ post.header_img.url }}" class="card-img-top" alt="photo" style="max-width: 100%; height: auto; width: 200px; margin: auto;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'artical_detail' post.pk %}">{{ post.title }}</a></h5>
                        <small class="text-muted">By {{ post.author }} | {{ post.date }}</small>
                        <p class="card-text mt-2">{{ post.body|slice:":200"|safe }}...</p>
 <!-- عرض جزء مختصر من المحتوى -->
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ post.category }}</small>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                {% if user.is_authenticated and user.id == post.author.id %}
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'update_post' post.pk %}" class="btn btn-sm btn-outline-primary mb-2">Edit</a>
                            <a href="{% url 'delete_post' post.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination section -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <br><br><br><br><br><br>

{% endblock content %}
